@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.navigation-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: $padding;
  max-width: $max-screen-width;

  :hover {
    text-decoration: underline;
    background-color: $white;
    cursor: pointer;
  }

  &__text {
    font-weight: 600;
  }

  &__item {
    all: unset;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    &:link {
      color: $black !important;
    }
    &:visited {
      color: $black !important;
    }
  }

  &__icon {
    height: 1.25rem;
    margin-right: 0.1875rem;
  }
}
