.navigation-section {
  display: flex;
  flex-wrap: wrap;
  margin-right: 4rem;
  justify-content: center;

  :hover {
    text-decoration: underline;
    background-color: #f9f9f9;
  }

  &__item {
    all: unset;
    padding: 0.5rem;
    display: flex;
    align-items: center;
  }

  &__icon {
    height: 20px;
    margin-right: 3px;
  }
}
