//------------------------colorPalette:

//Primary colors
$black: #161616; //Instock-Black:  Global text color
$indigo: #0078d4; //Instock-Indigo:  Interactive elements
$white: #ffffff; //White:  Global white color

//background colors
$graphite: #232940; 
$grey: #f7f8f9; 

//padding
$padding: 1.5rem;
$gap: 1rem;

//border
$border: solid rgba($graphite, 0.2);

//screen top
$max-screen-width: 1752px;

//
$border-radious: .125rem;