@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
.spotlight {
  background-image: url("../../../src/assets/images/section-bg.jpg");
  padding: 48px 24px;
  margin-top: 60px;

  &__title {
    text-align: center;
    padding-bottom: 48px;
  }

  &__description {
    display: flex;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: $gap;
  }

  &__icon {
    height: 64px;
    border-radius: 50%;
  }

  &__card {
    padding: $padding;
  }

  &__link {
    display: block;
    color: #1471b9;
    width: 100%;
    &:hover {
      color: #0065b3;
      text-decoration: underline;
    }
  }
  &__subtitle {
    padding-left: 12px;
      &--2 {
        font-weight: 500;
        display: flex;
        padding-top: 6px;
      }
    }
  &__content {
    padding: 12px 0 24px 0;
  }
}
