@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
body {
  margin: 0;
}
.home_wrapper {
  padding: $padding;
}
.home__hero {
  background-image: url("../../../src/assets/images/header-background.png");
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
