@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;
body {
  margin: 0;
}
.home_wrapper {
  padding: $padding;
}
.hero {
  background-image: url("../../../src/assets/images/header-background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: $white;
  padding: $padding;
  &__title{
    padding-bottom: $padding*2;
  }
  &__subtitle{
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: 300;
  }
}
