body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero {
  background-image: url("../../../src/assets/images/header-background.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  padding: 0 24px;
}
